# Scraping Data from Binance Website + Pandas

First Import the necessary modules

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Get the URL of the first two pages which is the top hundred coins based on market cap

In [3]:
first_url = 'https://crypto.com/price?page=1'
second_url = 'https://crypto.com/price?page=2'

page_one = requests.get(first_url)
page_two = requests.get(second_url)

soup_one = BeautifulSoup(page_one.text, 'html.parser')
soup_two = BeautifulSoup(page_two.text, 'html.parser')

Understand your variables and the data scrapped

In [5]:
#print(soup_one)

In [80]:
#print(soup_two)

In [94]:
#soup_one.find_all('table')

In [84]:
#soup_two.find_all('table')

In [7]:
headers = []

In [9]:
column_data_one = soup_one.find_all('tr')
column_data_two = soup_two.find_all('tr')

Get the headers and remove the chart

In [11]:
for row in column_data_one:
    row_data = row.find_all('th')
    individual_row_data = [data.text.strip() for data in row_data]
    individual_row_data = [data for data in individual_row_data if data != '']
    if individual_row_data != []:
        headers = individual_row_data

headers = headers[: (len(headers) -1)]

print(headers)

['#', 'Name', 'Price', '24H CHANGE', '24H VOLUME', 'Market Cap']

Put the data in a Pandas' DataFrame

In [13]:
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [#, Name, Price, 24H CHANGE, 24H VOLUME, Market Cap]
Index: []

Get the body of the data and append it into the panda dataframe

In [28]:
for row in column_data_one:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    individual_row_data = [data for data in individual_row_data if data != '']

    if individual_row_data != []:
        length = len(df)
        df.loc[length] = individual_row_data

for row in column_data_two:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    individual_row_data = [data for data in individual_row_data if data != '']

    if individual_row_data != []:
        length = len(df)
        df.loc[length] = individual_row_data

Observe your DataFrame

In [30]:
df

,#,Name,Price,24H CHANGE,24H VOLUME,Market Cap
0,1,BBitcoinBTC,"$91,089.45$91,089.45+0.26%",+0.26%,$49.3 B,"$1,802.1 B"
1,2,EEthereumETH,"$3,086.83$3,086.83-0.96%",-0.96%,$25.1 B,$371.73 B
2,3,TTetherUSDT,$0.9993$0.9993-0.26%,-0.26%,$124.12 B,$127.46 B
3,4,SSolanaSOL,$245.55$245.55+3.24%,+3.24%,$8.01 B,$116.54 B
4,5,BBNBBNB,$618.04$618.04-1.96%,-1.96%,$2.11 B,$88.12 B
...,...,...,...,...,...,...
95,96,NNeoNEO,$12.50$12.50+1.07%,+1.07%,$32.61 M,$881.79 M
96,97,AAxie InfinityAXS,$5.70$5.70+0.80%,+0.80%,$104.45 M,$875.25 M
97,98,TThe SandboxSAND,$0.3574$0.3574+1.28%,+1.28%,$192.92 M,$855.58 M
98,99,PPendlePENDLE,$5.21$5.21-3.13%,-3.13%,$67.57 M,$853.17 M
99,100,DdYdXDYDX,$1.31$1.31+2.38%,+2.38%,$55.25 M,$844.66 M

Export to a csv

In [32]:
path = r'C:\Users\HP\OneDrive\Documents\DataAnalysis\WebScraping\Binance.csv' # choose your file path
df.to_csv(path)